<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Rotating Banner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <!--[if lte IE 9]><script type="text/javascript" src="/inc/html5shiv.min.js"></script><![endif]-->
    <link href="/css/demo.css" rel="stylesheet" />
</head>

<body class="demo">
    <section class="banner" <% // 效果1：全屏banner轮播，有圆点 %>>
        <ul class="pic_ul">
            <li class="li_click" style="background:url(<% // 这里服务器端动态赋值 %>/Uploadfile/temp/banner_01.jpg); background-position: center;" url="http://www.sina.com" target="_blank"></li>
            <li class="li_click" style="background:url(/Uploadfile/temp/banner_02.jpg); background-position: center;" url="http://www.baidu.com" target="_blank"></li>
            <li class="li_click" style="background:url(/Uploadfile/temp/banner_01.jpg); background-position: center;" url="http://www.qq.com" target="_blank"></li>
            <li class="li_click" style="background:url(/Uploadfile/temp/banner_02.jpg); background-position: center;" url="http://www.topu.net" target="_blank"></li>
        </ul>
        <ul class="point_ul" <% // 有几个圆点，就放几个li %>>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>
    <section class="ul_button">
        <ul class="button">
            <li>暂停</li>
            <li>重启</li>
        </ul>
    </section>
    <section class="Effective min-content" <% // 效果2：图片展示，没有圆点，有小图，有箭头 %>>
        <ul class="point_ul">
            <li class="l1 selected"></li>
            <li class="l2"></li>
            <li class="l3"></li>
            <li class="l4"></li>
            <li class="l5"></li>
            <li class="l6"></li>
            <li class="l7"></li>
        </ul>
        <div class="banner_div">
            <ul class="pic_ul">
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
            </ul>
        </div>
        <div class="arrow_left"></div>
        <div class="arrow_right"></div>
    </section>
    <section class="list_3 min-content" <% // 效果3：图片展示，有margin，一屏内含有多张图，每次滚一张图 %>>
        <div class="banner_div">
            <ul class="pic_ul">
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
            </ul>
        </div>
        <div class="arrow_left"></div>
        <div class="arrow_right"></div>
    </section>
    <section class="list_4 min-content" <% // 效果4：图片展示，有margin，一屏内含有多张图，每次滚一屏 %>>
        <div class="banner_div">
            <ul class="pic_ul">
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_01.jpg') no-repeat;"></li>
                <li style="background:url('/UploadFile/temp/banner_02.jpg') no-repeat;"></li>
            </ul>
        </div>
        <div class="arrow_left"></div>
        <div class="arrow_right"></div>
    </section>
    <script data-main="/jq/require_entrance" src="/inc/require.js"></script>
</body>
</html>
